<head>
    <link rel="stylesheet" href="/css/cadastro.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <header>
    <div class="titulo">
        <h1>DEMON FIT</h1>
    </div>
     <div class="redes-sociais.1">
        <div class="redes-sociais">
            <a href="http://www.facebook.com.br"><img src="/img/facebook.png" alt="facebook"></a>
            <a href="https://www.instagram.com/"><img src="/img/instagram.png" alt="instagram"></a>
            <a href="https://web.whatsapp.com/"><img src="/img/whatsapp.png" alt="whatsapp"></a>
        </div>  
     </div> 
    <div class="linha"></div>
    <nav class="insignes">
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/quemsomos">Quem somos</a></li>
            <li><a href="/contato">Contato</a></li>
            <li><a href="/cadastro">Cadastro</a></li>
            <li><a href="/horarios">Funcionamento</a></li>
        </ul>
    </nav>
    <div class="linha"></div>
    </header>
    <br>
    <div class="cads">
        <fieldset>
            <legend>Formulário de Cadastro</legend>
            <form action="/lista" method="post">
                    <input type="text" name="nome" id="nome" class="input-user" placeholder="Nome">
                    <br><br>
                    <input type="text" name="nome" id="nome" class="input-user" placeholder="Idade">
                    <br><br>
                    <input type="text" name="telefone" id="telefone" class="input-user" placeholder="Telefone">
                    <br><br>
                    <input type="email" name="email" id="email" class="input-user" placeholder="Email">
                    <br><br>
                    <input type="text" name="endereco" id="endereco" class="input-user" placeholder="Endereço">
                    <br>
                    <button class="btn" type="submit">CADASTRAR</button>
            </fieldset>
        </form>
     </div>
    </body>
