<head>
    <link rel="stylesheet" href="/css/contato.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
    <script src="/js/script.js"></script>
</head>
<body>
    <header>
        <div class="titulo">
        <h1>DEMON FIT</h1>
    </div>
     <div class="redes-sociais.1">
        <div class="redes-sociais">
            <a href="http://www.facebook.com.br"><img src="/img/facebook.png" alt="facebook"></a>
            <a href="https://www.instagram.com/"><img src="/img/instagram.png" alt="instagram"></a>
            <a href="https://web.whatsapp.com/"><img src="/img/whatsapp.png" alt="whatsapp"></a>
        </div>  
     </div> 
    <div class="linha"></div>
    <nav class="insignes">
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/quemsomos">Quem somos</a></li>
            <li><a href="/contato">Contato</a></li>
            <li><a href="/cadastro">Cadastro</a></li>
            <li><a href="/horarios">Funcionamento</a></li>
        </ul>
    </nav>
    <div class="linha"></div>
    </header>
    <main>
        <section class="main">
            <article class="esquerda">
                <img src="/img/Cbum.png" alt="">
            </article>
            <aside class="direita">
                <br><br><br><br><br>
                <form action="#" method="post" onsubmit="validarmsg()">
                    <label for="nome">Nome:</label>
                    <input type="text" id="nome" class="input-user">
                    <label for="email">E-Mail:</label>
                    <input type="email" id="email" class="input-user">
                    <label for="tel">Telefone:</label>
                    <input type="text" id="tel" class="input-user">
                    <label for="descricao">Descrição:</label>
                    <textarea name="descricao" class="input-user" id="descricao" cols="50" rows="5"></textarea>
                    <button type="submit" value="Enviar">Enviar</button>
                </form>
            </aside>
        </section>
    </main>
</body>