<head>
    <link rel="stylesheet" href="/css/index.css">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&family=Roboto+Condensed:wght@700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="titulo">
        <h1>DEMON FIT</h1>
    </div>
     <div class="redes-sociais.1">
        <div class="redes-sociais">
            <a href="http://www.facebook.com.br"><img src="/img/facebook.png" alt="facebook"></a>
            <a href="https://www.instagram.com/"><img src="/img/instagram.png" alt="instagram"></a>
            <a href="https://web.whatsapp.com/"><img src="/img/whatsapp.png" alt="whatsapp"></a>
        </div>  
     </div> 
    <div class="linha"></div>
    <nav class="insignes">
        <ul>
            <li><a href="/index">Inicio</a></li>
            <li><a href="/quemsomos">Quem somos</a></li>
            <li><a href="/contato">Contato</a></li>
            <li><a href="/cadastro">Cadastro</a></li>
            <li><a href="/horarios">Funcionamento</a></li>
        </ul>
    </nav>
    <div class="linha"></div>
     <section class="main">
        <article class="esquerda">
             <img src="\img\Snapinsta.app_1080_328278875_499337799041886_1631452093847428366_n-e1675967720240.jpg" alt="">
        </article>
        <aside class="direita">
            <p>ﾠﾠﾠﾠﾠﾠﾠVenha viver a experiência</p>
            <p>ㅤﾠﾠﾠﾠﾠﾠﾠﾠde um verdadeiro</p>
            <p>ﾠﾠﾠﾠﾠﾠﾠatendimento diferenciado!</p>
            <br>
            <img src="/img/download.png" alt="">
         </aside>
      </section>
      <br>
      <br>
      <br>
      <br>
      <footer>
        &copy; Icaro Estrela 2023.2
      </footer>
</body>
